/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09-Dec-2016, 09:47:11
    Author     : up687444
    Author     : adampiper
*/

body{
    margin-left:5%;
    margin-right:5%;
}

form{
    border: solid 1px black;
    padding:30px;
}

form>outputLabel,
form>inputText{
    display:block;
    float:left;
}